In [ ]:
# Example of using higher-order functions in Python  
# Function that adds 1 to the passed value (x)  
def add(x):  
    return x + 1  
# Function that multiplies the passed value (x) by 2  
def multiply(x):  
    return x * 2  
# Function that applies another function on passed value (x)  
def apply(func, x):  
    return func(x)  
result1 = apply(add, 3)  # Result: 4  
result2 = apply(multiply, 3)  # Result: 6

In [ ]:
# Example of using lambda functions in Python  
# Lambda function that adds 1 to x  
add = lambda x: x + 1  
  
# Lambda function that multiplies x by 2  
multiply = lambda x: x * 2  
  
result1 = add(3)  # Result: 4  
result2 = multiply(3)  # Result: 6

In [ ]:
# Example of using map, filter, and reduce in Python  
data = [1, 2, 3, 4, 5]  
# Using the map to apply a function to each element  
# Lambda function returns the square of x  
result1 = map(lambda x: x * 2, data)  # Result: [2, 4, 6, 8, 10]  
# Using the filter to filter elements based on a condition  
# Lambda function returns True for an even number  
result2 = filter(lambda x: x % 2 == 0, data)  # Result: [2, 4]  
# Using reduce to aggregate elements  
# Lambda function returns product of x and y  
from functools import reduce  
result3 = reduce(lambda x, y: x * y, data)  # Result: 120

In [ ]:
# Example of using list comprehensions in Python  
data = [1, 2, 3, 4, 5]  

# Using list comprehension to apply a function to each element  
result1 = [x * 2 for x in data]  # Result: [2, 4, 6, 8, 10]  

# Using list comprehension to filter elements based on a condition  
result2 = [x for x in data if x % 2 == 0]  # Result: [2, 4]  

# Using list comprehension to aggregate elements  
result3 = reduce(lambda x, y: x * y, data)  # Result 120

In [ ]:
# Using map() to square each element of the data list  
data = [1, 2, 3, 4, 5]  
  
# Map function returns the map object  
squares = map(lambda x: x*x, data)  
  
# Iterating the elements of the squares  
for i in squares:  
    print(i, end=" ")  
  
# Also, we can convert the map object into a list  
squares = list(map(lambda x: x*x, data))  
print(f"Squares: {squares}")

In [ ]:
# Using map() to convert each element into an integer  
data1 = list(map(int, input("Enter integer values: ").split()))  

# Printing the data1 values  
print(f"Integer data = {data1}")  
  
# Using map() to convert each element into a float  
data2 = list(map(float, input("Enter Floating values: ").split()))  
  
# Printing the data2 values  
print(f"Float data = {data2}")

In [ ]:
# Python to demonstrate how to pass multiple iterables  
# in the map function  
# List that contains base values  
base = [2, 4, 6, 8, 10]  
  
# List that contains exponents  
power = [1, 2, 3, 4, 5]  
  
# Storing the list of x**y  
answer = list(map(pow, base, power))  
  
# Printing the result  
print("Answer:", answer)

In [ ]:
# Using filter() to filter even numbers from a list  
data = [1, 2, 3, 4, 5]  
# The filter function filters the even numbers from the data  
# and returns a filter object (an iterable)  
evens = filter(lambda x: x % 2 == 0, data)  
# Iterating the values of evens  
for i in evens:  
    print(i, end=" ")  
# We can convert the filter object into a list as follows:  
evens = list(filter(lambda x: x % 2 == 0, data))  
# Printing the evens list  
print(f"Evens = {evens}")

In [ ]:
# Python to demonstrate usage of filter function  
from math import sqrt  
# List that contains random integer values  
data = [0, 1, 4, 6, 8, 9, 10, 12, 16, 81, 23, 36]  
# Function that returns true for perfect squares  
def isPerfectSqr(i):  
    return sqrt(i).is_integer()  
# Storing the result  
answer = list(filter(isPerfectSqr, data))  
# Printing the result  
print("Answer: ", answer)  
# Printing the evens list  
print(f"Evens = {evens}")

In [ ]:
# Using filter() to filter names starting with letter H  
# Method 1  
# A list containing names  
names = ["Arun", "Sonu", "Harsh", "Harry", "Anu", "Hassi"]  
# The filter function filters the name from the names  
# and returns a filter object (an iterable)  
# We can convert the filter object into a list as follows:  
name_start_with_H = list(filter(lambda x: x[0] == 'H', names))  
# Printing the name_start_with_H list  
print(f"Method 1 result = {name_start_with_H}")

In [ ]:
# Method 2  
# We can also use a function instead of lambda function  
# The H_name function returns true if x (name) starts with 'H'  
def H_name(x):  
    return x[0] == 'H'  
# Filtering the result and printing it into the console  
name_start_with_H = list(filter(H_name, names))  
print(f"Method 2 result = {name_start_with_H}")

In [ ]:
# Examples to understand the reduce() function  
from functools import reduce  
# Function that returns the sum of two numbers  
def add(a, b):  
    return a + b  
# Our Iterable  
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
# add function is passed as the first argument, and num_list is passed as the second argument  
sum = reduce(add, num_list)  
print(f"Sum of the integers of num_list : {sum}")  
# Passing 10 as an initial value  
sum = reduce(add, num_list, 10)  
print(f"Sum of the integers of num_list with initial value 10 : {sum}")

In [ ]:
# Importing reduce function from the functools module  
from functools import reduce  
# A list containing some integers  
num = [20, 22, 24, 12, 6, 88, 10, 55, 66]  
""" Method 1 - Using simple function """  
# Function that returns the largest of x and y  
def large(x, y):  
    return x if x > y else y  
# Using reduce to find the largest of all and printing the result  
largest = reduce(large, num)  
print(f"Largest found with method 1: {largest}")

In [ ]:
""" Method 2 - Using lambda function """  
  
# Using reduce to find the largest of all and printing the result  
largest = reduce(lambda x, y: x if x > y else y, num)  
print(f"Largest found with method 2: {largest}")

In [ ]:
# Python program to show how to use a pass statement in a for loop  
'''pass acts as a placeholder. We can fill this place later on'''  
sequence = {"Python", "Pass", "Statement", "Placeholder"}  
for value in sequence:  
    if value == "Pass":  
        pass # leaving an empty if block using the pass keyword  
    else:  
        print("Not reached pass keyword: ", value)

In [ ]:
# Python program to show how to create a tuple    
# Creating an empty tuple    
empty_tuple = ()    
print("Empty tuple: ", empty_tuple)    
# Creating tuple having integers    
int_tuple = (4, 6, 8, 10, 12, 14)    
print("Tuple with integers: ", int_tuple)    
# Creating a tuple having objects of different data types    
mixed_tuple = (4, "Python", 9.3)    
print("Tuple with different data types: ", mixed_tuple)    
# Creating a nested tuple    
nested_tuple = ("Python", {4: 5, 6: 2, 8:2}, (5, 3, 5, 6))    
print("A nested tuple: ", nested_tuple)

In [ ]:
print(tuple_[1.0])     
except Exception as e:    
    print(e)    
# Creating a nested tuple    
nested_tuple = ("Tuple", [4, 6, 2, 6], (6, 2, 6, 7))    
# Accessing the index of a nested tuple    
print(nested_tuple[0][3])           
print(nested_tuple[1][1])

In [ ]:
tuple_ = ("Python", "Tuple", "Ordered", "Collection")    
print(tuple_[0])      
print(tuple_[1])     
# trying to access element index more than the length of a tuple    
try:    
    print(tuple_[5])     
except Exception as e:    
    print(e)

In [ ]:
# Python program to show how negative indexing works in Python tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Collection")    
# Printing elements using negative indices    
print("Element at -1 index: ", tuple_[-1])    
print("Elements between -4 and -1 are: ", tuple_[-4:-1])

In [ ]:
# Python program to show how slicing works in Python tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    
# Using slicing to access elements of the tuple    
print("Elements between indices 1 and 3: ", tuple_[1:3])    
# Using negative indexing in slicing    
print("Elements between indices 0 and -4: ", tuple_[:-4])    
# Printing the entire tuple by using the default start and end values.     
print("Entire tuple: ", tuple_[:])

In [ ]:
# Python program to show how to delete elements of a Python tuple    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    
# Deleting a particular element of the tuple    
try:     
    del tuple_[3]    
    print(tuple_)    
except Exception as e:    
    print(e)    
# Deleting the variable from the global space of the program    
del tuple_    
# Trying accessing the tuple after deleting it    
try:    
    print(tuple_)    
except Exception as e:    
    print(e)

In [ ]:
# Python program to show repetition in tuples    
tuple_ = ('Python',"Tuples")    
print("Original tuple is: ", tuple_)    
# Repeting the tuple elements    
tuple_ = tuple_ * 3    
print("New tuple is: ", tuple_)

In [ ]:
# Creating tuples  
T1 = (0, 1, 5, 6, 7, 2, 2, 4, 2, 3, 2, 3, 1, 3, 2)  
T2 = ('python', 'java', 'python', ’HTML', 'python', 'java')  
# counting the appearance of 3  
res = T1.count(2)  
print('Count of 2 in T1 is:', res)  
# counting the appearance of java  
res = T2.count('java')  
print('Count of Java in T2 is:', res)

In [ ]:
# Creating tuples  
Tuple_data = (0, 1, 2, 3, 2, 3, 1, 3, 2)  
# getting the index of 3  
res = Tuple_data.index(3)  
print('First occurrence of 1 is', res)  
# getting the index of 3 after 4th  
# index  
res = Tuple_data.index(3, 4)  
print('First occurrence of 1 after 4th index is:', res)

In [ ]:
# Python program to show how to perform membership test for tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Ordered")    
# In operator    
print('Tuple' in tuple_)    
print('Items' in tuple_)    
# Not in operator    
print('Immutable' not in tuple_)    
print('Items' not in tuple_)

In [ ]:
# Python program to show how to iterate over tuple elements    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable")    
# Iterating over tuple elements using a for loop    
for item in tuple_:    
    print(item)

In [ ]:
# Python program to show how to concatenate tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable")    
# Adding a tuple to the tuple_    
print(tuple_ + (4, 5, 6))

In [ ]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i) 
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
# Empty set using set() function  
set4 = set()  
print(type(set4))

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nAdding other months to the set...");    
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

In [ ]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

In [ ]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

In [ ]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

In [ ]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving all the items from the set...");    
Months.clear()    
print("\nPrinting the modified set...")    
print(Months)

In [ ]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

In [ ]:

Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

In [ ]:
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

In [ ]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1.difference(Days2)) # prints the difference of the two sets Days1 and Days2

In [4]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

SyntaxError: invalid non-printable character U+00A0 (2843548306.py, line 1)