In [1]:
# first.py
print('Hello world')

Hello world

In [10]:
# define data type
a='ritesh'
print(type(a))

b=[1,2,3,4,5,6,10]
print(type(b))

c=1,2,3,45
print(type(c))

d=(123)
print(type(d))

e={'Name':'ritesh','Job':'student'}
print(type(e))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>
<class 'dict'>

In [20]:
### list in python
my_list=['Ritesh','Aman','Akabar','Anthani']
print(my_list)

print(my_list[3])

print(my_list[1:3])

print(my_list[1:])

print(my_list[:3])

['Ritesh', 'Aman', 'Akabar', 'Anthani']
Anthani
['Aman', 'Akabar']
['Aman', 'Akabar', 'Anthani']
['Ritesh', 'Aman', 'Akabar']

In [24]:
# using append method in list
my_list=['Rita','Sita','Geeta','Babita']
my_list.append('Papita')
print(my_list)

my_list.append('Cheeta')
print(my_list)

['Rita', 'Sita', 'Geeta', 'Babita', 'Papita']
['Rita', 'Sita', 'Geeta', 'Babita', 'Papita', 'Cheeta']

In [26]:
# using insert method in list
my_list=['Ram','Ramayan','Mahabharat','Chandrakanta']
my_list.insert(3,'Shaktiman')
print(my_list)

my_list.insert(5,'Junior G')
print(my_list)

['Ram', 'Ramayan', 'Mahabharat', 'Shaktiman', 'Chandrakanta']
['Ram', 'Ramayan', 'Mahabharat', 'Shaktiman', 'Chandrakanta', 'Junior G']

In [30]:
#Use extend method
my_list=['Hum','Dil','De','Chuke','Sanam']
my_list2=['Rahna','Hain','Tere','Dil','main']
my_list.extend(my_list2)
print(my_list)

my_list3=['KK','SONU NIGAM','UDIT NARAYAN','KUMAR SANU']
my_list4=['ARIJIT SINGH','SHREYA GHOSHAL','HIMESH RESHAMIYA']
my_list3.extend(my_list4)
print(my_list3)

['Hum', 'Dil', 'De', 'Chuke', 'Sanam', 'Rahna', 'Hain', 'Tere', 'Dil', 'main']
['KK', 'SONU NIGAM', 'UDIT NARAYAN', 'KUMAR SANU', 'ARIJIT SINGH', 'SHREYA GHOSHAL', 'HIMESH RESHAMIYA']

In [33]:
# Using pop method in list
my_list=['MSD','VIRAT','HARDIK','ROHIT','IRFAN']
my_list.pop()
print(my_list)

my_list1=['Aliya','Kareena','Aishwarya','Bipasa']
my_list1.pop()
print(my_list1)

['MSD', 'VIRAT', 'HARDIK', 'ROHIT']
['Aliya', 'Kareena', 'Aishwarya']

In [47]:
# Using remove method in List
my_list=['Rajgir','Gaya','Vaishali','Nalanda University','Sasaram','Madhubani']
my_list.remove('Sasaram')
print(my_list)

my_list.remove('Madhubani')
print(my_list)

my_list.remove('Nalanda University')
print(my_list)

['Rajgir', 'Gaya', 'Vaishali', 'Nalanda University', 'Madhubani']
['Rajgir', 'Gaya', 'Vaishali', 'Nalanda University']
['Rajgir', 'Gaya', 'Vaishali']

In [48]:
# Use clear method  in list
my_list=['Ramu','Kaka','Sonu','Monu']
my_list.clear()
print(my_list)

[]

In [59]:
# Use Count method in list
my_list=[1,2,3,4,4,4,4,5,5,5,7,8,9,7,6,6,7,5,4,3,3,3,3,3,3,3]
my_list.count(5)
my_list.count(3)
a=my_list.count(3)
print(a)
my_list.count(5)

8

4

In [61]:
# USE reverse method in list
my_list=[1,2,3,'Ram','Site','Krishna','Radhe']
my_list.reverse()
print(my_list)

my_list=['raju','kaju','baju','AArjoo']
my_list.reverse()
print(my_list)

['Radhe', 'Krishna', 'Site', 'Ram', 3, 2, 1]
['AArjoo', 'baju', 'kaju', 'raju']

In [65]:
# Using sort method in list
my_list=[100,500,5,13,-6,400]
my_list.sort()
print(my_list)

my_list1=['Ritesh','Deshmukh','Aman','Shaehar']
my_list1.sort()
print(my_list1)

[-6, 5, 13, 100, 400, 500]
['Aman', 'Deshmukh', 'Ritesh', 'Shaehar']

In [69]:
# Dictionary
my_dict={'Name':'Ritesh','Hobby':'Trevelling','City':'Patna'}
print(my_dict)

print(my_dict['Hobby'])

print(my_dict.get('Name'))

{'Name': 'Ritesh', 'Hobby': 'Trevelling', 'City': 'Patna'}
Trevelling
Ritesh

In [72]:
# Method of Dictionary
# keys
my_dict={'Name':'Ritesh','Hobby':'Trevelling','City':'Patna'}
keys=my_dict.keys()
print(keys)

dict_keys(['Name', 'Hobby', 'City'])

In [73]:
# values
values=my_dict.values()
print(values)

dict_values(['Ritesh', 'Trevelling', 'Patna'])

In [74]:
#items
items=my_dict.items()
print(items)

dict_items([('Name', 'Ritesh'), ('Hobby', 'Trevelling'), ('City', 'Patna')])

In [75]:
# CONDITIONAL STATEMENT if condition
a=5
if a>3:
    print('a is greater than 3')

a is greater than 3

In [76]:
# Conditional statement if,elif condition
a=14
b=25
c=38
if a>b and a>c:
    print('a is biggest number')
elif b>a and b>c:
    print('b is biggest number')
else:
    print('c is the biggest number')

c is the biggest number

In [79]:
# For loop in python
my_list=['Ritesh','Ram','Aman','Anurag','Sanjay']
for a in my_list:
    print(a)

Ritesh
Ram
Aman
Anurag
Sanjay

In [81]:
# For loop with if condition
my_list=[1,2,3,47,10,8,5,23]
for a in my_list:
    if a>=5:
        print(a)

47
10
8
5
23

In [83]:
# tuple without unpacking
my_list=[(2,4,6),(8,10,12),(14,16,20)]
for a in my_list:
    print(a[1])

4
10
16

In [84]:
# tuple unpacking
for a,b,c in my_list:
    print(a)

2
8
14

In [85]:
# while loop
my_list=[2,3,4,5,6,9,10]
i=3
while i<10:
    print(i)
    i=i+1

3
4
5
6
7
8
9

In [124]:
# while loop using break
my_list=[2,3,4,5,6,9,10]
i=3
while i<10:
    if i==9:
        break
    print(i)
    i=i+1

3
4
5
6
7
8

In [130]:
#  using continue in while
my_list=[2,3,4,5,6,9,10]
for temp in range(5):
    if temp==2:
        continue
    print(temp)

0
1
3
4

In [139]:
def seperator():
    print("--------------------")
    
print('Hello world')
seperator()
print("from Patna")
seperator()

Hello world
--------------------
from Patna
--------------------