In [6]:
num = float(input("Enter a number: "))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f' % (num, num_sqrt))

Enter a number: 25
The square root of 25.000 is 5.000

In [8]:
num = float(input("Enter a number: "))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f' % (num, num_sqrt))

Enter a number: 65
The square root of 65.000 is 8.062

In [ ]:
s = (a + b + c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("The area of the triangle is:", area)

In [12]:
x = 10
y = 20

# Swapping values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 20
The value of y after swapping: 10

In [15]:
import random
random_integer = random.randint(1, 100)
print("Random Integer:", random_integer)
random_float = random.random()
print("Random Float:", random_float)

Random Integer: 26
Random Float: 0.18190424205421118

In [13]:
kilometers = float(input("Enter the distance in kilometers: "))
miles = kilometers * 0.621371
print(f"{kilometers} kilometers is approximately {miles} miles")

Enter the distance in kilometers: 25
25.0 kilometers is approximately 15.534275000000001 miles

In [14]:
number = float(input("Enter a number: "))
print("The sum is %1f" % number)

Enter a number: 45
The sum is 45.000000

In [ ]:
num = flot(input("Enter a number:"))
if num > 0:
    print("positive number")

In [ ]:
num = flot(input("enter a number"))

In [ ]:
num = int(input("Enter a number"))
if num % 2 )==:

In [ ]:
num = int(input ("enter anumber "))
if (num %2)==0:

In [ ]:
if num >+num2 and num1>=num3:
    largerst +num1
    elif num2 >=num1 and num2 >= num3:
        largerst =num2
        else
        largest = num2
        largest = num3
        print the largest numbers is largest

In [16]:
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

if largest is not None:
    print("The largest number is", largest)
else:
    print("All three numbers are equal.")

NameError: name 'num1' is not defined

In [18]:
def factors(x):
    if x == 1:
        return 1
     else
        rutern(x*factorial(x-1))
        result = factorial(num)
        print("The factorial of, num "is" result)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [20]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x - 1)
    
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 65.0 is 8.247650592082472e+90

In [ ]:
reuslt = list(map(lambda X:2 ** x range(terms)))
print("The total terms are",terms)
for i in range

In [ ]:
terms = 5  # Define the number of terms

result = list(map(lambda x: 2 ** x, range(terms)))
print("The total terms are", terms)

for i in range(terms):
    print(f"Term {i + 1}: {result[i]}")

In [19]:
my list = [12,65,54,39,102,339,221]
reuslt = list(filter(lambda x: (x % 13 ==0),my_list))
print ("numbers disisible by 13 are"results)

SyntaxError: invalid syntax (1661431878.py, line 1)

In [ ]:
my_list = [12, 65, 54, 39, 102, 339, 221]
result = list(filter(lambda x: (x % 13 == 0), my_list))
print("Numbers divisible by 13 are", result)

In [21]:
dec = 344
print("the decimal value of" dec 'is'")
print(bin(dec)," in binary")
print oct(dec)in octal")
print hex dec in hexadecimal.")

SyntaxError: unterminated string literal (detected at line 2) (3910889668.py, line 2)

In [22]:
dec = 344
print("The decimal value of", dec, "is")
print(bin(dec), "in binary")
print(oct(dec), "in octal")
print(hex(dec), "in hexadecimal")

The decimal value of 344 is
0b101011000 in binary
0o530 in octal
0x158 in hexadecimal

In [25]:
max_number = 10  # You can change this to the desired maximum number

for i in range(1, max_number + 1):
    result = 2 * i
    print(f"2 * {i} = {result}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [26]:
import calendar
print(calendar,month(yy,mm))

NameError: name 'month' is not defined

In [27]:
import calendar


year = 2023
month = 10  # October


cal = calendar.month(year, month)
print(cal)

    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
sting