In [13]:
zip(iterable1, iterable2, iterable3)

NameError: name 'iterable1' is not defined

In [14]:
names = ["Dipanshu", "Aman", "Vishal"]
scores = [85, 92, 78]

zipped_data = zip(names, scores)

for data in zipped_data:
    print(data)

('Dipanshu', 85)
('Aman', 92)
('Vishal', 78)

In [15]:
names = ["Vishal", "Aman", "Dipanshu"]
scores = [85, 92, 78]

zipped_data = zip(names, scores)

for data in zipped_data:
    print(data)

('Vishal', 85)
('Aman', 92)
('Dipanshu', 78)

In [16]:
name = ["vishal", "Aman", "Dipanshu"]
scores = [85, 95, 75]
zipped_data = zip(names, scores)
for data in zipped_data:
    print(data)

('Vishal', 85)
('Aman', 95)
('Dipanshu', 75)

In [17]:
zipped_list = list(zip(names, scores))
zipped_tuple = tuple(zip(names, scores))

In [18]:
students = ["Dipanshu", "Aman", "Vishal"]
math_scores = [85, 92, 78]
english_scores = [90, 85, 76]
science_scores = [88, 95, 82]

total_scores = []
for student, math, english, science in zip(students, math_scores, english_scores, science_scores):
    total_score = math + english + science
    total_scores.append((student, total_score))

for student, total_score in total_scores:
    print(f"{student}: Total Score = {total_score}")

Dipanshu: Total Score = 263
Aman: Total Score = 272
Vishal: Total Score = 236

In [19]:
students = ["Dipanshu", "Aman", "Vishal"]
math_scores = [85, 92, 78]
english_scores = [90, 80, 76]
science_scores = [88, 95, 80]

total_scores = []
for student, math, english, science in zip(students, math_scores, english_scores, science_scores):
    total_score = math + english + science
    total_scores.append((student, total_score))

for student, total_score in total_scores:
    print(f"{student}: Total Score = {total_score}")

Dipanshu: Total Score = 263
Aman: Total Score = 267
Vishal: Total Score = 234

In [20]:
s ={1, 2, 3}
s.discard(2)
print(s)

{1, 3}

In [21]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
my_set.discard(6)
print(my_set)

{1, 2, 4, 5}

In [22]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a.difference(b)
print(c)

{1, 2}

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_method = set1.difference(set2)
print("Difference using difference method:", difference_method)
difference_operator = set1 - set2
print("Difference using - operator:", difference_operator)

Difference using difference method: {1, 2}
Difference using - operator: {1, 2}

In [24]:
class_a_students = {"Alice", "Bob", "Charlie", "David"}
class_b_students = {"Charlie", "David", "Eve", "Frank"}

students_only_in_class_a = class_a_students - class_b_students
students_only_in_class_b = class_b_students - class_a_students

print("Students only in Class A:", students_only_in_class_a)
print("Students only in Class B:", students_only_in_class_b)

Students only in Class A: {'Alice', 'Bob'}
Students only in Class B: {'Eve', 'Frank'}

In [25]:
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}
c = {1, 2, 4}
print(a.issubset(b))
print(a.issubset(c))

True
False

In [26]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

In [27]:
a = {1, 2, 3, 4}
a.add(5)
print(a)

{1, 2, 3, 4, 5}

In [28]:
my_set = {1, 2, 3}
my_set.update([3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [29]:
s = {1, 2, 3}
s.clear()
print(s)

set()

In [30]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

In [31]:
a = {1, 2, 3, 4}
b = a.copy()
print(b)

{1, 2, 3, 4}

In [32]:
original_set = {1, 2, 3, 4, 5}
copied_set = original_set.copy()

print("Original Set:", original_set)
print("Copied Set:", copied_set)

Original Set: {1, 2, 3, 4, 5}
Copied Set: {1, 2, 3, 4, 5}

In [34]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [35]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6}

In [37]:
a = {1, 2, 3}
x = a.pop()
print(x)
print(a)

1
{2, 3}

In [38]:
my_set = {1, 2, 3, 4, 5}

popped_element = my_set.pop()

print("Popped Element:", popped_element)
print("Updated Set:", my_set)

Popped Element: 1
Updated Set: {2, 3, 4, 5}

In [39]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a.intersection(b)
print(c)

{3}

In [40]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1 & set2

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 4}

In [41]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [42]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [43]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [44]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared Set:", my_set)

Cleared Set: set()

In [45]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union_set = set1 | set2
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6}

In [46]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped Element:", popped_element)
print("Updated Set:", my_set)

Popped Element: 1
Updated Set: {2, 3, 4, 5}

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2}

In [48]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 4, 5}

In [49]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

In [50]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True